.kz-block {
    display: block;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: black;
}

.kz-block, .kz-block > * {
    box-sizing: content-box;
}

.kz-block .kz-hidden {
    display: none !important;
}

.kz-block .kz-btn {
    background-color: #1163F9;
    border-radius: 100%;
    bottom: 0;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 20%);
    cursor: pointer;
    height: 40px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 17px;
    position: fixed;
    right: 0;
    text-align: center;
    width: 40px;
    z-index: 1053;
}

.kz-block .kz-btn .kz-icon {
    color: #fff;
    font-size: 40px;
    transition: transform .16s linear 0s,opacity .08s linear 0s;
}

.kz-block .kz-btn .kz-icon-dots {
    display: inline-block;
    background-color: white;
    margin: 15px 0;
}

.kz-block .kz-btn .kz-icon-dots::before, .kz-btn .kz-icon-dots::after {
    background-color: white;
}

.kz-block .kz-dialogue {
    background-color: white;
    bottom: 110px;
    margin-right: 20px;
    padding: 15px;
    position: fixed;
    right: 0;
    z-index: 1053;
    display: block;
    background: #fff;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 20%);
    transform: translateY(0);
    transition: all .6s;
    visibility: visible;
    min-width: 200px;
    max-width: 300px;
    border-radius: 8px;
}

.kz-block .kz-dialogue .kz-dialogue-header {
    margin-bottom: 15px;
}