<div class="kz-block" id="kz-block">
    <div class="kz-dialogue kz-hidden" id="kz-dialogue">
        <div class="kz-dialogue-header">👋&nbsp;&nbsp;Вещайте:</div>
        <div class="kz-dialogue-text" id="kz-dialogue-text"></div>
    </div>
    <div class="kz-btn" id="kz-btn">
        <i class="fa fa-microphone kz-icon kz-icon-micro" aria-hidden="true"></i>
        <div class="dot-elastic kz-icon kz-icon-dots kz-hidden"></div>
    </div>
</div>